aside.logo{
    background: linear-gradient(135deg, #07a7e3, #32dac3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
}

aside.logo img{
    padding: 0px 15px;
    width: 100%;
}